@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  position: relative;
  scroll-behavior: smooth !important;
}

#__next {
  position: relative;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* Tiptap placeholder extension */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Prevent the text from being right below the marker*/
.ProseMirror ul p,
.ProseMirror ol p {
  @apply inline-block;
}

/* Align the marker to the top due to the paragprah being an inline-block */
.ProseMirror ul li *,
.ProseMirror ol li * {
  @apply align-top;
}

.ProseMirror ul ul,
.ProseMirror ul ol,
.ProseMirror ol ul,
.ProseMirror ol ol {
  @apply ml-4;
}
